* {
	box-sizing: border-box;
}

body {
	font-family: monospace;
	margin: 0;
}

.app {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.app main {
	display: flex;
	flex-direction: column;
	flex: 1;
	font-family: serif;
}
