.article__info {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.article__info:visited {
	color: #777;
}

.article__info__title {
	font-size: 1.25em;
	margin-bottom: 4px;
}

.article__info__source {
	margin-right: 8px;
}
