.login__form {
	display: flex;
	flex-direction: column;
	padding-top: 12px;
}

.login__step {
	padding: 0 16px;
	margin-bottom: 4px;
}

.login__step input {
	width: 320px;
}

.login__step__label {
	font-size: 1.25em;
}

.login__step__hint {
	margin-left: 8px;
}
