.feeds {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}

.feeds__item {
	display: flex;
	padding: 12px 16px;
}

.feeds__item:hover {
	background-color: #eee;
}

.feed-info {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: flex-start;
}

.feed-info__title {
	font-size: 1.25em;
	margin-bottom: 4px;
}

.feed-info__link {
	color: black;
	font-weight: bold;
}
