.nav {
	display: flex;
	flex-direction: column;
	border-right: 1px solid black;
	width: 56px;
	font-family: monospace;
}

.nav--open {
	width: auto;
}

.nav__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding: 12px;
}

.nav__title {
	font-size: 24px;
	line-height: 100%;
	margin: 0;
	margin-left: 8px;
}

.nav__link {
	color: black;
	font-size: 1.4em;
	text-decoration: none;
	padding: 12px;
}

.nav__link:hover {
	text-decoration: underline;
}
