.search {
	display: flex;
	flex-direction: column;
}

.search__form {
	flex: 1;
	display: flex;
	align-self: stretch;
	align-items: center;
	padding-right: 16px;
}

.search__query {
	flex: 1;
	border: none;
	align-self: stretch;
}
