.list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	list-style: none;
}

.list__item {
	display: flex;
	align-items: center;
	padding: 16px;
}

.list__item:hover {
	background-color: #eee;
}

.log {
	padding: 16px;
}

.log--error {
	color: red;
}

.header {
	display: flex;
	height: 56px;
	border-bottom: 1px solid black;
}

.header__title {
	align-self: center;
	font-family: monospace;
	margin: 0 16px;
}

input {
	font-family: monospace;
	outline: none;
	border: 1px solid black;
	padding: 8px;
}

button {
	padding: 4px;
	border: 1px solid black;
	background: white;
	font-family: monospace;
	box-shadow: 3px 3px 0 black;
	margin: 4px 6px 6px 4px;
	cursor: pointer;
}

button:hover:not(:disabled) {
	transform: translate3d(1px, 1px, 0);
	box-shadow: 2px 2px 0 black;
}

button:active:not(:disabled) {
	transform: translate3d(2px, 2px, 0);
	box-shadow: 1px 1px 0 black;
}

.top {
	position: fixed;
	bottom: 16px;
	right: 16px;
}
